body, textarea, input {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Make the Create React App fill the whole height */
html, body, #root, .App {
  height: 100%;
}

/* These colors/themes are only for overwriting Mui DatePicker 
*  and TimePicker. Had to define css for DateTimePicker like this. 
*  Overwriting like described in mui-docs doesn't seem to work
*  for DateTimePicker in current version */
[data-theme = 'dark'] {
  --bg-color: #2b2b2b; 
  --color: rgba(255, 255, 255, 0.87);
  --border: 2px solid #a1a1a1;
  --arrow-am-pm: rgba(255, 255, 255, 0.54);
  --arrow-disabled: rgba(255, 255, 255, 0.26);
  --hover: rgba(255, 255, 255, 0.1);
  --hover-border: none;
  --weekdays: rgba(255, 255, 255, 0.6);
  --selected: #1976D2;
  --selected-text: #fff;
  --selected-hover: #42A5F5;
  --inner-clock: rgba(255, 255, 255, 0.1);
  --clock-border: none;
  --font-weight: normal;
}

[data-theme = 'light'] {
  --bg-color: snow;
  --color: rgba(0, 0, 0, 0.87);
  --border: none;
  --arrow-am-pm: rgba(0, 0, 0, 0.54);
  --arrow-disabled: rgba(0, 0, 0, 0.26);
  --hover: rgba(0, 0, 0, 0.04);
  --hover-border: none;
  --weekdays: rgba(0, 0, 0, 0.6);
  --selected: #1976D2;
  --selected-text: #fff;
  --selected-hover: #42A5F5;
  --inner-clock: rgba(0,0,0,.07);
  --clock-border: none;
  --font-weight: normal;
}

[data-theme = 'high-contrast-dark'] {
  --bg-color: #000; 
  --color: #fff;
  --border: 2px solid #FFAD00;
  --arrow-am-pm: #fff;
  --arrow-disabled: rgba(255, 255, 255, 0.6);
  --hover: #000;
  --hover-border: 2px solid #FFAD00;
  --weekdays: #fff;
  --selected: #FFAD00;
  --selected-text: #000;
  --selected-hover: #ffd67f;
  --inner-clock: #000;
  --clock-border: 2px solid #ffd67f;
  --font-weight: bold;
}

[data-theme = 'high-contrast-light'] {
  --bg-color: snow;
  --color: #000;
  --border: 2px solid #370662;
  --arrow-am-pm: rgba(0, 0, 0, 0.8);
  --arrow-disabled: rgba(0, 0, 0, 0.5);
  --hover: #fff;
  --hover-border: 2px solid #370662;
  --weekdays: #000;
  --selected: #370662;
  --selected-text: #fff;
  --selected-hover: #5e3781;
  --inner-clock: snow;
  --clock-border: 2px solid #5e3781;
  --font-weight: bold;
}

/* Mui DatePicker modal Metadata */
.MuiPaper-root, .MuiClockPicker-root {
  outline: var(--border) !important;
}
.MuiCalendarPicker-root, .MuiPickersDay-root, .MuiClockPicker-root {
  background-color: var(--bg-color) !important;
  color: var(--color) !important;
}
.MuiSvgIcon-root {
  background: transparent;
  color: var(--arrow-am-pm);
}
.MuiButtonBase-root:hover {
  background-color: var(--hover) !important;
  outline: var(--hover-border)
}
.MuiTypography-root {
  color: var(--weekdays) !important;
  font-weight: var(--font-weight) !important;
}
.Mui-selected {
  background-color: var(--selected) !important;
  color: var(--selected-text) !important;
}
.Mui-selected:hover {
  background-color: var(--selected-hover) !important;
}

/* Mui TimePicker modal Metadata */
.Mui-disabled > .MuiSvgIcon-root {
  color: var(--arrow-disabled);
}
/* bg of the clock*/
.css-eziifo, .css-1umqo6f {
  background-color: var(--inner-clock) !important;
  outline: var(--clock-border);
  text-shadow: -2px 0 var(--inner-clock), 0 2px var(--inner-clock), 2px 0 var(--inner-clock), 0 -2px var(--inner-clock);
}
/* digits on the clock */
.css-1flhz3h {
  color: var(--color) !important;
}
/* clock hands */
.MuiClockPicker-root .Mui-selected, .css-12ha4i7, .css-7lip4c, .css-a1rc6s  {
  background-color: var(--selected) !important;
  color: var(--selected-text) !important; 
  text-shadow: -2px 0 var(--selected), 0 2px var(--selected), 2px 0 var(--selected), 0 -2px var(--selected);
}
/* minute hand */
.css-2ujp1m {
  border: 16px solid var(--selected) !important;
  background-color: var(--bg-color) !important;
  color: #000 !important;
}
/* AM, PM and digits when selected */
.css-1t8wyba-MuiButtonBase-root-MuiIconButton-root,
.css-13go44a-MuiButtonBase-root-MuiIconButton-root {
  outline:2px solid var(--selected) !important;
  background-color: transparent !important;
  -webkit-text-fill-color: var(--color) !important;
}
/* AM and PM when selected on hover */
.css-1t8wyba-MuiButtonBase-root-MuiIconButton-root:hover, 
.css-13go44a-MuiButtonBase-root-MuiIconButton-root:hover {
  background-color: var(--selected-hover) !important;
  -webkit-text-fill-color: var(--selected-text) !important;
}
